<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>犯人は踊る ONLINE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap -->
<!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
-->
  </head>
  <body>
    このゲームは３～８人用となっています。<br/>
    <div id='app2'>
      <input id="cName_inp" placeholder="ニックネームを入力してください"><br/>
      <br/>
      <button id='createGame'>ゲームを作る(Make a Game)</button><br/>
      Game ID: <span id='gId'></span><br/>
      Game Status: <span id='gStatus'></span><br/>
      <hr/>
      <button id="joinGame">ゲームに参加する(Join the Game)</button><br/>
      <input id="gId_inp" placeholder="GameIDを入力してください"><br/>
      Your ID: <span id='cId'></span><br/>
      Your Name: <span id='cName'></span><br/>
      <hr/>
      <h2>Member Applying</h2>
      <span id='applyingList'></span>
      <br/>
      <div id='sec1' style='display:none'>
        <button id="startGame">ゲームを始める</button><br/>
        <hr/>
      </div>
      <div id='sec2' style='display:none'>
        <h4>Board Card</h4>
        <div id='stackCard'></div><br/>
        <br/>
        <h4>Your Cards</h4>
        <table id='stockCards'>
        </table><br/>
        <div id='criminal'></div>
        <hr/>
      </div>
      <div id='sec3' style='display:none'>
        <select name='sel_stockcards' id="sel_stockcards"></select><br/>
        <button id="set_card">カードを選択する</button><br/>
        <br/>
        追加の操作がある場合、操作をしてから「次へ」を押してください。<br/>
        <button id="next">次へ</button><br/>
        <hr/>
      </div>
      <div id='sec4' style='display:none'>
        ＝取り引き＝<br/>
        渡す相手と、カードを選択してください<br/>
        <br/>
        渡す相手:<br/>
        <select name='trade_players' id="trade_players"></select><br/>
        渡すカード:<br/>
        <select name='trade_cards1' id="trade_cards1"></select><br/>
        <button id="trade_card_w_player">交換する</button><br/>
        <hr/>
      </div>
      <div id='sec5' style='display:none'>
        ＝うわさ、情報操作、取り引き＝<br/>
        渡す（もらう）カードを選択してください
        <select name='trade_cards2' id="trade_cards2"></select><br/>
        <button id="trade_card">カードを渡す（もらう）</button><br/>
        <hr/>
      </div>
      <div id='sec6' style='display:none'>
        ＝目撃者＝<br/>
        カードを見る相手:<br/>
        <select name='check_players' id="check_players"></select><br/>
        <button id="show_card">カードを見る</button><br/>
        <table id='showCards'></table><br/>
        <hr/>
      </div>
      <div id='sec7' style='display:none'>
        ＝少年＝<br/>
        「犯人」カードは「<span id='criminal_player'></span>」が持っています。<br/>
        <hr/>
      </div>
      <div id='sec8' style='display:none'>
        ＝探偵＝<br/>
        犯人を指定する:<br/>
        <select name='suspect_players' id="suspect_players"></select><br/>
        <button id="suspect_card">指名する</button><br/>
        <hr/>
      </div>
      <div id='sec9' style='display:none'>
        ＝犬＝<br/>
        犯人を指定する:<br/>
        <select name='suspect_players2' id="suspect_players2"></select><br/>
        <button id="show_card2">指名する</button><br/>
        犯人カードを指定する:<br/>
        <select name='showCards2' id="showCards2"></select><br/>
        <button id="suspect_card2">指名する</button><br/>
        <hr/>
      </div>
      <span id='message'></span><br/>
    </div>

    <script>
    var timeout = 1000;
    var timer = '';

    $(function() {
      var gId = '';
      var cId = '';

      // Create Game
      $('#createGame').click(function() {
        $('#message').empty();
        $.ajax('create' + '/' + $('#cName_inp').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#createGame').prop("disabled", true);
          $('#joinGame').prop("disabled", true);
          $('#gId').text(data);
          $('#cId').text(data);
          $('#cName').text($('#cName_inp').val());
          $('#sec1').show();
          gId = data;
          cId = data;
          timer = setTimeout(status_check(gId, cId), timeout)
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Join Game
      $('#joinGame').click(function() {
        $('#message').empty();
        $.getJSON($('#gId_inp').val() + '/join/' + $('#cName_inp').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#createGame').prop("disabled", true);
          $('#joinGame').prop("disabled", true);
          console.log(data);
          gId = $('#gId_inp').val();
          cId = data.playerid;
          $('#gId').text(gId);
          $('#cId').text(cId);
          $('#cName').text(data.nickname);
          timer = setTimeout(status_check(gId, cId), timeout)
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      $('#startGame').click(function() {
        $('#message').empty();
        $.getJSON(gId + '/start',
          {
            type: 'get',
          }
        )
        .done(function(data) {
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // カードを場に置く
      $('#set_card').click(function() {
        $('#message').empty();
        var card_type = $('#sel_stockcards option:selected').text();
        $.ajax(gId + '/set/' + $('#sel_stockcards').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          if(data == 'ng'){
            $('#message').text('そのカードは出せません');
            return;
          }
          console.log(card_type);
          $('#set_card').prop("disabled", true);
          switch(card_type){
            case '少年':
              $.getJSON(gId + '/show_criminal',
                {
                  type: 'get',
                }
              )
              .done(function(data) {
                console.log('data');
                $('#sec7').show();
                $('#criminal_player').text(data.nickname);
              })
              .fail(function() {
                $('#message').text('エラーが発生しました');
              });
              break;
            case '目撃者':
              $('#sec6').show();
              break;
            case '探偵':
              $('#sec8').show();
              break;
            case 'いぬ':
              $('#sec9').show();
              break;
          }
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // trade card with player
      $('#trade_card_w_player').click(function() {
        $('#message').empty();
        $.getJSON(gId + '/trade/player/' + $('#trade_players').val() + '/' + $('#trade_cards1').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#sec4').hide();
          $('#sec5').hide();
          $('#trade_cards1').children().remove();
          $('#trade_cards2').children().remove();
          $('#sel_stockcards').children().remove();
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // trade card
      $('#trade_card').click(function() {
        $('#message').empty();
        $.getJSON(gId + '/trade/' + cId + '/card/' + $('#trade_cards2').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#sec4').hide();
          $('#sec5').hide();
          $('#trade_cards1').children().remove();
          $('#trade_cards2').children().remove();
          $('#sel_stockcards').children().remove();
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // show card
      $('#show_card').click(function() {
        $('#message').empty();
        var path = gId + '/show_others/' + $('#check_players').val();
        $.getJSON(path,
          {
            type: 'get',
          }
        )
        .done(function(data) {
          console.log(data);
          $('#showCards').empty();
          var rowtable = $('<tr></tr>').appendTo($('#showCards'));
          for(var sIdx in data.stocks){
            stock = data.stocks[sIdx]
            $('<td align="center">' + stock.name + '</td>').appendTo(rowtable);
          }
          // for(var sIdx in data.stocks){
          //   $('#showCards').append(data.stocks[sIdx].name);
          // }
          $('#show_card').prop('disabled', true);
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // show card(犬用)
      $('#show_card2').click(function() {
        $('#message').empty();
        var path = gId + '/show_others/' + $('#suspect_players2').val();
        $.getJSON(path,
          {
            type: 'get',
          }
        )
        .done(function(data) {
          console.log(data);
          $('#showCards2').children().remove();
          for(var sIdx in data.stocks){
            stock = data.stocks[sIdx]
            // $('#showCards2').append('<option value="'+sIdx+'">'+stock.name+'</option>');
            $('#showCards2').append('<option value="'+sIdx+'">***</option>');
          }
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      $('#suspect_card').click(function() {
        $('#message').empty();
        $.getJSON(gId + '/nominate/detective/' + $('#suspect_players').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          if(data.status == 'end'){
            $('#message').text('犯人を見つけました!!');
          }else{
            $('#message').text('犯人ではありませんでした');
          }
          $('#sec8').hide();
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      $('#suspect_card2').click(function() {
        $('#message').empty();
        $.getJSON(gId + '/nominate/dog/' + $('#suspect_players2').val() + '/' + $('#showCards2').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          if(data.status == 'end'){
            $('#message').text('犯人を見つけました!!');
          }else{
            $('#message').text('犯人ではありませんでした');
          }
          $('#sec9').hide();
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Next player
      $('#next').click(function() {
        $('#message').empty();
        var path = gId + '/next'
        $.getJSON(path,
          {
            type: 'get',
          }
        )
        .done(function(data) {
          // console.log(data)
          $('#sec4').hide();
          $('#sec5').hide();
          $('#sec6').hide();
          $('#sec7').hide();
          $('#sec8').hide();
          $('#set_card').prop("disabled", false);
          $('#show_card').prop('disabled', false);
          $('#message').text('次に移動しました');
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });
    });

    var status_check = function(gId, cId){
      setTimeout(function(){
        $('#message').empty();
        // all status
        $.getJSON(gId + '/status',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          console.log(data)
          $('#gStatus').text(data.status);
          playerPos = 0;
          teamid = 0;

          // Applying List
          $('#applyingList').empty();
          for(var pIdx in data.players){
            // console.log(data.players[pIdx])
            $('#applyingList').append(data.players[pIdx].nickname + '(' + data.players[pIdx].playerid + ')' + ',');
            if(cId == data.players[pIdx].playerid){
              playerPos = pIdx;
            }
          }

          switch(data.status){
            case 'started':
              $('#sec2').show();
              $('#sec4').hide();
              $('#sec5').hide();
              $('#trade_cards1').children().remove();
              $('#trade_cards2').children().remove();

              if(data.stack.length > 0){
                $('#stackCard').text(data.stack.slice(-1)[0].name);
              }else{
                $('#stackCard').text('');
              }

              if(data.players[0].playerid == cId){
                $('#sec3').show();
              }else{
                $('#sec3').hide();
              }

              $('#stockCards').empty();
              var rowtable = $('<tr></tr>').appendTo($('#stockCards'));
              for(var sIdx in data.players[playerPos].stocks){
                stock = data.players[playerPos].stocks[sIdx]
                $('<td align="center">' + stock.name + '</td>').appendTo(rowtable);
              }
              // console.log(data.players[playerPos]);
              if(data.players[playerPos].stocks.length != $('#sel_stockcards').children('option').length){
                $('#sel_stockcards').children().remove();
                for(var sIdx in data.players[playerPos].stocks){
                  stock = data.players[playerPos].stocks[sIdx]
                  $('#sel_stockcards').append('<option value="' + sIdx + '">' + stock.name + '</option>');
                }
              }

              // たくらみ判定
              if(data.players[playerPos].criminal == true){
                $('#criminal').text('犯人が勝ったとき、あなたも勝ちです');
              }

              break;
            // ==========================
            case 'deal':
              for(var tIdx in data.trade){
                if(data.trade[tIdx].card == null){
                  if(data.trade[tIdx].sender == cId){
                    if(tIdx == 0){
                      $('#sec4').show();
                    }else{
                      $('#sec5').show();
                    }
                  }
                }else{
                  $('#sec4').hide();
                  $('#sec5').hide();
                }
              }

              if(data.players[playerPos].stocks.length != $('#trade_cards1').children('option').length){
                $('#trade_cards1').children().remove();
                $('#trade_cards2').children().remove();
                for(var sIdx in data.players[playerPos].stocks){
                  stock = data.players[playerPos].stocks[sIdx]
                  $('#trade_cards1').append('<option value="' + sIdx + '">' + stock.name + '</option>');
                  $('#trade_cards2').append('<option value="' + sIdx + '">' + stock.name + '</option>');
                }
              }

              if((data.players.length - 1) != $('#trade_players').children('option').length){
                $('#trade_players').children().remove();
                for(var pIdx in data.players){
                  if(pIdx != playerPos){
                    $('#trade_players').append('<option value="'+data.players[pIdx].playerid+'">'+data.players[pIdx].nickname+'</option>');
                  }
                }
              }

              break;
            // ==========================
            // 「うわさ」
            // 全てのプレイヤーは右隣りのプレイヤーの手札からカードを1枚引きます。
            case 'rumor':
              for(var tIdx in data.trade){
                if(data.trade[tIdx].receiver == cId){
                  if(data.trade[tIdx].card == null){
                    $('#sec5').show();
                  }else{
                    $('#sec5').hide();
                  }
                }
              }
              // console.log('rumor:' + data);

              prevPlayerPos = (data.trade.length + playerPos - 1) % data.trade.length;
              if(data.players[prevPlayerPos].stocks.length != $('#trade_cards2').children('option').length){
                $('#trade_cards2').children().remove();
                for(var sIdx in data.players[prevPlayerPos].stocks){
                  stock = data.players[prevPlayerPos].stocks[sIdx]
                  // $('#trade_cards2').append('<option value="' + sIdx + '">' + stock.name + '</option>');
                  $('#trade_cards2').append('<option value="' + sIdx + '">*****</option>');
                }
              }

              break;
            // =========================
            // 「情報交換」
            // 全てのプレイヤーは左隣のプレイヤーにカードを1枚同時に渡します。
            case 'manipulation':
              for(var tIdx in data.trade){
                if(data.trade[tIdx].sender == cId){
                  if(data.trade[tIdx].card == null){
                   $('#sec5').show();
                 }else{
                   $('#sec5').hide();
                 }
                }
              }
              // console.log('manipulation:' + data);

              if(data.players[playerPos].stocks.length != $('#trade_cards2').children('option').length){
                $('#trade_cards2').children().remove();
                for(var sIdx in data.players[playerPos].stocks){
                  stock = data.players[playerPos].stocks[sIdx]
                  $('#trade_cards2').append('<option value="' + sIdx + '">' + stock.name + '</option>');
                }
              }

              break;
            case 'witness':
              if((data.players.length - 1) != $('#check_players').children('option').length){
                $('#check_players').children().remove();
                for(var pIdx in data.players){
                  if(pIdx != playerPos){
                    $('#check_players').append('<option value="'+data.players[pIdx].playerid+'">'+data.players[pIdx].nickname+'</option>');
                  }
                }
              }
              break;
            case 'detective':
              if((data.players.length - 1) != $('#suspect_players').children('option').length){
                $('#suspect_players').children().remove();
                for(var pIdx in data.players){
                  if(pIdx != playerPos){
                    $('#suspect_players').append('<option value="'+data.players[pIdx].playerid+'">'+data.players[pIdx].nickname+'</option>');
                  }
                }
              }
              break;
            case 'dog':
              if((data.players.length - 1) != $('#suspect_players2').children('option').length){
                $('#suspect_players2').children().remove();
                for(var pIdx in data.players){
                  if(pIdx != playerPos){
                    $('#suspect_players2').append('<option value="'+data.players[pIdx].playerid+'">'+data.players[pIdx].nickname+'</option>');
                  }
                }
              }
              break;
            case 'end':
              // $('#gameover').text('Game Over');
              // $('input[type="radio"]').prop("disabled", false);
              // $('#setteam').prop("disabled", false);
              // $('#sec4').css('display', 'none');
              // $('#card_sel').children().remove();
              break;
          }
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
        timer = setTimeout(status_check(gId, cId), timeout)
      }, timeout);
    }

    </script>
  </body>
</html>
